<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header has-drawer">
  <div class="mdl-layout__header">
    <base-page-top style="background-color:#30333C">
      <div class="mdl-layout-spacer"></div>

      <div class="avatar-dropdown" id="icon">
        <span style="color:#df691a; font-weight: 600;">{{ user.username }}</span>
        <img src="assets/images/Icon_header.png">
      </div>
      <ul
        class="mdl-menu mdl-list mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp account-dropdown"
        for="icon">
        <li class="mdl-menu__item mdl-list__item">
            <span class="mdl-list__item-primary-content" (click)="logout()">
              <i class="material-icons mdl-list__item-icon text-color--secondary">exit_to_app</i>
              Log out
            </span>
        </li>
      </ul>
    </base-page-top>
  </div>
  <div class="mdl-layout__drawer">
    <app-sidebar></app-sidebar>
  </div>
  <main class="mdl-layout__content">
    <alert></alert>
    <router-outlet></router-outlet>
  </main>
</div>
