<div
  class="mdl-grid mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top"
>
  <div
    class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone"
  >
    <base-card>
      <base-card-title>
        <h5 class="mdl-card__title-text text-color--white">
          Compare performance
        </h5>
      </base-card-title>
      <base-card-body>
        <form class="form form--basic">
          <div class="mdl-grid">
            <div
              class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone form__article"
            >
              <h3 class="text-color--smooth-gray">First share</h3>
              <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size"
              >
                <input
                  #searchBoxFirst
                  class="mdl-textfield__input"
                  type="text"
                  id="first-symbol"
                />
                <label class="mdl-textfield__label" for="first-name"
                  >Enter Symbol (example: GOOGL)</label
                >
              </div>
              <div style="float: right">
                <button
                  type="button"
                  (click)="getSharePerformanceData(searchBoxFirst.value, searchFirst)"
                  class="mdl-button mdl-js-button mdl-js-ripple-effect button--colored color--light-blue"
                >
                  <i class="material-icons">search</i>
                  Search
                </button>
              </div>
              <div style="margin-top: 70px">
                <h5 class="mdl-card__title-text text-color--white">GOOGL</h5>

                <ul class="mdl-list" style="margin-top: 10px">
                  <li class="mdl-list__item list__item--border-top">
                    <span class="mdl-list__item-primary-content list__item-text"
                      >1 Month</span
                    >
                    <span
                      class="mdl-list__item-secondary-content trending__percent"
                    >
                      ny
                    </span>
                  </li>
                  <li class="mdl-list__item list__item--border-top">
                    <span class="mdl-list__item-primary-content list__item-text"
                      >6 Month</span
                    >
                    <span
                      class="mdl-list__item-secondary-content trending__percent"
                    >
                      company.country
                    </span>
                  </li>
                  <li class="mdl-list__item list__item--border-top">
                    <span class="mdl-list__item-primary-content list__item-text"
                      >1 Year</span
                    >
                    <span
                      class="mdl-list__item-secondary-content trending__percent"
                    >
                      company.sector
                    </span>
                  </li>
                  <li class="mdl-list__item list__item--border-top">
                    <span class="mdl-list__item-primary-content list__item-text"
                      >3 Year</span
                    >
                    <span
                      class="mdl-list__item-secondary-content trending__percent"
                      >20 USD</span
                    >
                  </li>
                  <li class="mdl-list__item list__item--border-top">
                    <span class="mdl-list__item-primary-content list__item-text"
                      >5 Year</span
                    >
                    <span
                      class="mdl-list__item-secondary-content trending__percent"
                      >15 USD</span
                    >
                  </li>
                </ul>
              </div>
            </div>

            <div
              class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone form__article"
            >
              <h3 class="text-color--smooth-gray">Second share</h3>
              <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size"
              >
                <input
                  #searchBoxSecond
                  class="mdl-textfield__input"
                  type="text"
                  id="second-symbol"
                />
                <label class="mdl-textfield__label" for="floating-first-name"
                  >Enter Symbol (example: MSFT)</label
                >
              </div>
              <div style="float: right">
                <button
                  type="button"
                  (click)="getSharePerformanceData(searchBoxSecond.value, searchSecond)"
                  [disabled]="isSearchButtonSecondDisabled"
                  class="mdl-button mdl-js-button mdl-js-ripple-effect button--colored color--light-blue"
                >
                  <i class="material-icons">search</i>
                  Search
                </button>
              </div>
            </div>

            <div
              class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone form__article"
            >
              <h3 class="text-color--smooth-gray">Third share</h3>
              <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size"
              >
                <input
                  #searchBoxThird
                  class="mdl-textfield__input"
                  type="text"
                  id="third-symbol"
                />
                <label class="mdl-textfield__label" for="floating-first-name"
                  >Enter Symbol (example: AMZN)</label
                >
              </div>
              <div style="float: right">
                <button
                  type="button"
                  (click)="getSharePerformanceData(searchBoxThird.value, searchThird)"
                  [disabled]="isSearchButtonThirdDisabled"
                  class="mdl-button mdl-js-button mdl-js-ripple-effect button--colored color--light-blue"
                >
                  <i class="material-icons">search</i>
                  Search
                </button>
              </div>
            </div>
          </div>
        </form>
      </base-card-body>
    </base-card>
  </div>
</div>
