<div
  class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top"
>
  <div
    class="mdl-cell mdl-cell--12-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone"
  >
    <base-card>
      <base-card-title>
        <h2 class="mdl-card__title-text">
          Search share by symbol (example: GOOGL)
        </h2>
      </base-card-title>
      <base-card-body>
        <div
          class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size"
        >
          <input
            #searchBox
            [(ngModel)]="symbol"
            class="mdl-textfield__input"
            type="text"
            id="symbol"
          />
          <label class="mdl-textfield__label" for="symbol">enter symbol</label>
        </div>
        <div class="mdl-layout-spacer"></div>
        <button
          type="button"
          (click)="generateSuggestionsList(searchBox.value)"
          class="mdl-button mdl-js-button mdl-button--raised color--light-blue"
          style="float:right"
        >
          Search
        </button>
      </base-card-body>
    </base-card>
  </div>

  <div
    class="mdl-cell mdl-cell--12-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone"
  >
    <base-card>
      <base-card-title>
        <h2 class="mdl-card__title-text">Search results</h2>
      </base-card-title>
      <base-card-body class="no-padding">
      <table class="mdl-data-table mdl-js-data-table bordered-table" style="width:99%">
          <thead>
            <tr>
              <th
                *ngFor="let header of headers"
                class="mdl-data-table__cell--non-numeric"
              >
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let share of suggestionsList">
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.symbol }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.name }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.type }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.region }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.marketOpen }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.marketClose }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.timezone }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.currency }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.matchScore }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
              
               <button
          type="button"
          (click)="navigateToDetailsPage(share.symbol)"
          class="mdl-button mdl-js-button mdl-button--raised color--light-blue"
        >
         Details
        </button>
              
              </td>
            </tr>
          </tbody>
        </table>
      </base-card-body>
    </base-card>
  </div>
</div>
