<div
  class="mdl-grid mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top"
>
  <div
    class="mdl-cell mdl-cell--12-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone"
  >
    <div>
      <span class="text-color--gray">
        Alpha Vantage does not provide all data when using a free api key. Thus
        the limitation on 10. See:
        <a target="_blank" href="https://www.alphavantage.co/documentation/"
          >Alpha Vantage</a
        >.</span
      >
    </div>
  </div>

  <div
    class="mdl-cell mdl-cell--6-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone"
  >
    <base-card>
      <base-card-title>
        <h2 class="mdl-card__title-text">DOW JONES - Top 10 Market Cap</h2>
        <div
          *baseTooltip="
            'The Dow Jones Industrial Average consists of the 30 most important market-leading companies on the American stock exchange and reflects their growth.'
          "
          id="tt1"
          class="icon material-icons color-text--teal"
          style="margin-left: 10px"
        >
          info
        </div>
      </base-card-title>
      <base-card-body class="no-padding">
        <table
          class="mdl-data-table mdl-js-data-table bordered-table"
          style="width: 99%"
        >
          <thead>
            <tr>
              <th
                *ngFor="let header of headers"
                class="mdl-data-table__cell--non-numeric"
              >
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let share of dowJonesList">
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.symbol }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.open }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.price }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.previousClose }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.change }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.changePercent }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <button
                  type="button"
                  (click)="navigateToDetailsPage(share.symbol)"
                  class="mdl-button mdl-js-button mdl-button--raised color--light-blue"
                >
                  Details
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </base-card-body>
    </base-card>
  </div>

  <div
    class="mdl-cell mdl-cell--6-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone"
  >
    <base-card>
      <base-card-title>
        <h2 class="mdl-card__title-text">NASDAQ 100 - Top 10 Market Cap</h2>
        <div
          *baseTooltip="
            'The Nasdaq 100 includes the shares of the 100 largest American and international companies as measured by their market capitalization which do not come from the financial sector.'
          "
          id="tt2"
          class="icon material-icons color-text--teal"
          style="margin-left: 10px"
        >
          info
        </div>
      </base-card-title>
      <base-card-body class="no-padding">
        <table
          class="mdl-data-table mdl-js-data-table bordered-table"
          style="width: 99%"
        >
          <thead>
            <tr>
              <th
                *ngFor="let header of headers"
                class="mdl-data-table__cell--non-numeric"
              >
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let share of nasdaqList">
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.symbol }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.open }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.price }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.previousClose }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.change }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{ share.changePercent }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <button
                  type="button"
                  (click)="navigateToDetailsPage(share.symbol)"
                  class="mdl-button mdl-js-button mdl-button--raised color--light-blue"
                >
                  Details
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </base-card-body>
    </base-card>
  </div>

  <div
    class="mdl-cell mdl-cell--12-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone"
  >
    <base-card>
      <base-card-title>
        <h2 class="mdl-card__title-text">WATCHLIST</h2>
        <div
          *baseTooltip="'You can add a share from the detail view.'"
          id="tt3"
          class="icon material-icons color-text--teal"
          style="margin-left: 10px"
        >
          info
        </div>
      </base-card-title>
      <base-card-body> my content </base-card-body>
    </base-card>
  </div>
</div>
